body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.animation-container {
  text-align: center;
}

.animated-text {
  font-size: 2em;
  color: rgb(59, 23, 187);
  animation: sizeAnimation 6s ease-in-out infinite;
}

@keyframes sizeAnimation {
  0%,
  100% {
    font-size: 0.5em;
  }
  50% {
    font-size: 7em;
  }
}
